
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Body */
body {
    color: #333;
    background: #fff;
}


/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.logo {
    font-size: 28px;
    font-weight: bold;
    color: #C9A227;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}


.nav-links li a {
    text-decoration: none;
    color: #0B1F3A;
    font-weight: 600;
    transition: 0.3s;
}


.nav-links li a:hover {
    color: #C9A227;
}

/* Hero Section */
.hero {
    height: 500px;
    background-image: url("../images/hero-image!.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero {
    height: 550px;
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.4)
    ), url("../images/hero.jpg");

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}


.hero-content p {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}


/* Buttons */

.btn {
    display: inline-block;
    background: #C9A227;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}


.btn:hover {
    background: #0B1F3A;
}

/* About Preview */
.about-preview {
    padding: 60px 8%;
    text-align: center;
}


.about-preview h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

/* Footer */

footer {
    background: #0B1F3A;
    color: white;
    text-align: center;
    padding: 25px;
}


/* Destination Cards */

.destination-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.destination-card {
    width: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: 0.3s;
}


.destination-card:hover {
    transform: translateY(-10px);
}


.destination-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.destination-card h3 {
    color: #0B1F3A;
    font-size: 22px;
    margin: 20px;
}


.destination-card p {
    padding: 0 20px 25px;
    line-height: 1.6;
}

/* Why Choose Us */

.why-us {
    padding: 60px 8%;
    background: #f8f8f8;
    text-align: center;
}


.why-us h2 {
    font-size: 35px;
    margin-bottom: 40px;
}


.why-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.why-card {
    width: 300px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.why-card i {
    font-size: 40px;
    color: #f4c95d;
    margin-bottom: 20px;
}


.why-card h3 {
    margin-bottom: 15px;
}

/* Testimonials Section */

.testimonials {
    padding: 60px 8%;
    text-align: center;
}


.testimonials h2 {
    font-size: 35px;
    margin-bottom: 40px;
}


.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.testimonial-card {
    width: 300px;
    padding: 30px;
    background: #0B1F3A;
    color: white;
    border-radius: 10px;
}


.testimonial-card p {
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 20px;
}


.testimonial-card h3 {
    color: #f4c95d;
}

/* Call To Action Section */

.cta {
    padding: 70px 8%;
    background: #0B1F3A;
    color: white;
    text-align: center;
}


.cta h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


.cta p {
    font-size: 18px;
    margin-bottom: 30px;
}


.cta .btn {
    background: #f4c95d;
    color: #0B1F3A;
}


.cta .btn:hover {
    background: white;
}

/* Page Banner */

.page-banner {
    height: 300px;
    background: #0B1F3A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.page-banner h1 {
    font-size: 45px;
    margin-bottom: 15px;
}


.page-banner p {
    font-size: 20px;
}

/* About Section */

.about-section {

    padding: 70px 8%;
    display: flex;
    align-items: center;
    gap: 50px;

}


.about-image img {

    width: 450px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;

}


.about-text {

    flex: 1;

}


.about-text h2 {

    font-size: 35px;
    margin-bottom: 20px;

}


.about-text p {

    line-height: 1.7;
    margin-bottom: 20px;

}

/* Login Section */

.login-section {

    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 8%;
    background: #f8f8f8;

}


.login-box {

    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}


.login-box h2 {

    text-align: center;
    margin-bottom: 15px;

}


.login-box p {

    text-align: center;
    margin-bottom: 20px;

}


.login-box label {

    display: block;
    margin-bottom: 8px;
    font-weight: bold;

}


.login-box input {

    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.login-box button {

    width: 100%;
    padding: 12px;
    background: #0B1F3A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


.login-box button:hover {

    background: #f4c95d;
    color: #0B1F3A;

}

/* Contact Section */

.contact-section {

    padding: 70px 8%;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}


.contact-info {

    flex: 1;

}


.contact-info h2 {

    font-size: 35px;
    margin-bottom: 20px;

}


.contact-info p {

    margin-bottom: 20px;
    line-height: 1.6;

}



.contact-form {

    flex: 1;

}



.contact-form input,
.contact-form textarea {

    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.contact-form textarea {

    height: 150px;
    resize: none;

}



.contact-form button {

    width: 100%;
    padding: 15px;
    background: #0B1F3A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


.contact-form button:hover {

    background: #f4c95d;
    color: #0B1F3A;

}

/* Sign Up / Login Section */

.login-section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 8%;
    background: #f8f8f8;
}


.login-box {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.login-box h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #0B1F3A;
}


.login-box p {
    text-align: center;
    margin-bottom: 20px;
}


.login-box label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-box button {
    width: 100%;
    padding: 12px;
    background: #0B1F3A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.login-box button:hover {
    background: #f4c95d;
    color: #0B1F3A;
}


.login-box a {
    color: #0B1F3A;
    text-decoration: none;
    font-weight: bold;
}


.login-box a:hover {
    color: #f4c95d;
}

.login-box p a {
    color: #0B1F3A;
    text-decoration: none;
    font-weight: bold;
}


.login-box p a:hover {
    color: #f4c95d;
}

/* Packages Section */

.packages {

    padding: 70px 8%;
    text-align: center;

}


.packages h2 {

    font-size: 35px;
    margin-bottom: 40px;

}

/* Package Cards */

.package-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.package-card {
    width: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    transition: 0.3s;
}


.package-card:hover {
    transform: translateY(-10px);
}


.package-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.package-card h3 {
    color: #0B1F3A;
    margin: 20px 0 10px;
}


.package-card h4 {
    color: #C9A227;
    font-size: 24px;
    margin: 15px;
}


.social-icons a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 16px;
}


.social-icons i {
    font-size: 22px;
    margin-right: 10px;
}


.social-icons a:hover {
    color: #C9A227;
}

/* Destination Page */

.destination-hero {

    height: 400px;
    background: linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)
    ),
    url("../images/destination.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

}


.destination-hero h1 {

    font-size: 50px;
    margin-bottom: 15px;

}



.destination-page {

    padding: 70px 8%;
    text-align: center;

}


.destination-page h2 {

    font-size: 40px;
    color: #0B1F3A;
    margin-bottom: 40px;
    text-align: center;

}



.destination-grid {

    display: flex;
    justify-content: center;
    gap: 30px;

}



.destination-box {

    width: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

}



.destination-box img {

    width: 100%;
    height: 230px;
    object-fit: cover;

}



.destination-content {

    padding: 25px;

}


.destination-content h3 {

    color: #0B1F3A;
    margin-bottom: 15px;

}



.travel-benefits {

    background: #f8f8f8;
    padding: 70px 8%;
    text-align: center;

}



.benefit-container {

    display: flex;
    justify-content: center;
    gap: 30px;

}



.benefit-card {

    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 10px;

}



.benefit-card i {

    font-size: 40px;
    color: #C9A227;
    margin-bottom: 20px;

}